<!----------------------------------------------->
<!--                                           -->
<!--      Created by (A/229) Huckleberry       -->
<!--                     @                     -->
<!--    github.com/flying-huckleberry/SLbot    -->
<!--                                           -->
<!----------------------------------------------->

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<%= description %>">

<title><%= title %></title>

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Boogaloo|Open+Sans|Slabo+27px|Black+Ops+One|Croissant+One|Fontdiner+Swanky|Plaster|Ranchers">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
<link rel="stylesheet" href="json_viewer/jquery.json-viewer.css" />
<link rel="stylesheet" href="css/S3.css" />
<link href="https://fonts.googleapis.com/css?family=Barrio|" rel="stylesheet">
