<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand">
                <span class="glyphicon glyphicon glyphicon-dashboard larger"></span>
                <span class="blackops larger">&nbsp;SLbot</span>
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li class="ib"><a href="/">Stats</a></li>
            <li class="ib"><a href="/command">Command</a></li>
            <li class="ib"><a href="/about">About</a></li>
            <li class="ib"><a href="/api">API</a></li>
            <li class="ib"><a href="//github.com/flying-huckleberry/SLbot">Source</a></li>
        </ul>

    </div>
</nav>
