<div class="tree-view" style="margin-top:0px;margin-bottom:0px">
  <div class="center">
    <button class="btn btn-primary center">Tree View <span class="badge">Experimental</span></button>
  </div>
  <div id="loading-icon" class="row" style="display:none">
    <div class="col-md-2 col-xs-2">
      <div class="loading-divs">
        <div class="loading-divs">
          <div class="loading-divs">
            <div class="loading-divs">
              <div class="loading-divs">
                 <div class="loading-divs">
                    <div class="loading-divs">
                      <div class="loading-divs">
                        <div class="loading-divs">
                          <div class="loading-divs"></div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10 col-xs-10 loading-text">
      <strong>Working...</strong> Please be patient while parsing large datasets. Some browsers, and older devices may become unresponsive for a time.
    </div>
  </div>
  <div class="row">
    <pre id="json-tree" style="border:none;padding:0"></pre>
  </div>
</div>
