<div class="well">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-3">
      <img src="<%= logo %>" id="logo" />
    </div>
    <div class="col-md-9 col-sm-9 col-xs-9">
      <h2 class="server-name"><%= name %></h2>
      <div id="servers"></div>
    </div>
  </div>
</div>
